

    img{
        width: 700px;
        align-items: center;
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap:20px;
    }

    button{
       text-align: center;
    }

    .centered-image{
        width: 500px;
    }

    body{
        background-image: url(img/tissu-blanc_53876-89528.avif);
        background-size: 100%;
       }

       .conteneur-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
       }

       input[type="text"] {
        padding: 10px;
        font-size: 16px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        }
