body{
    background-image: url();
    background-size: 150%;
   }
   
   img{
    width: 250px;
    float: left;
}
p{
    line-height: 1,4%;
}

.container {
    background-color: rgb(0, 0, 0); 
    padding: 20px; 
    border: 1px solid #000000;
    width: 930px; 
    height: 380px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    
  }
  
  .container img {
    display: block;
    margin: 20px;
    max-width: 100%;
  }
  
  .container p {
    text-align: left;
  }

  div{
    color: white;
    }
  
    
    