body{
    background-image: url(img/tissu-blanc_53876-89528.avif);
    background-size: 150%;
   }
   
   img{
    width: 250px;
    height: 400px;
    border-radius: 20px ;
    position: relative; left: 80px;
    position: relative; top: 43px;
    
}
p{
    line-height: 1,4%;
}

.container {
    background-color: rgb(79, 14, 14); 
    padding: 20px; 
    border: 1px solid #d13030; 
    width: 700px; 
    height: 300px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    border: #580b0b;
    border-radius: 20px;
    position: relative; top: -400px;
    position: relative; left: 390px;
  } 
    


  .container p {
    text-align: left;
  }

div{
    color: white;
    }


    .centered-image{ 
      height: 150px;
      width: auto;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -65%)
      }


      input[type="text"] {
        padding: 10px;
        font-size: 16px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        }


        h4{
          font-weight: 800;
          font-family: arial;

        }
  
        a{
          color: black;
          font-weight: 800;
          font-family: arial;
          text-decoration: none;
           }

    
    
    .text{
      background-color: rgb(79, 14, 14); 
      padding: 20px; 
      border: 1px solid #d13030; 
      width: 67px; 
      height: 30px;
      box-shadow: 5px 5px 15px rgb(0, 0, 0);
      border: #580b0b;
      border-radius: 20px;
      position: relative; top: -250px;
      position: relative; left: 250px;
    }

    .cube{
        background-color: rgb(79, 14, 14); 
        padding: 20px; 
        border: 1px solid #d13030; 
        width: 67px; 
        height: 30px;
        box-shadow: 5px 5px 15px rgb(0, 0, 0);
        border: #580b0b;
        border-radius: 20px;
        position: relative; top: -250px;
        position: relative; left: 2990px;
    }