body{
    background-image: url(img/tissu-blanc_53876-89528.avif);
    background-size: 150%;
   }
   
   img{
    width: 250px;
    float: left;
}
p{
    line-height: 1,4%;
}

.container {
    background-color: rgb(70, 69, 69); 
    padding: 20px; 
    border: 1px solid #504f4f;
    width: 960px; 
    height: 400px;
    box-shadow: 5px 5px 15px rgb(62, 61, 61);
    
  }
  
  .container img {
    display: block;
    margin: 20px;
    max-width: 100%;
  }
  
  .container p {
    text-align: left;
  }

div{
    color: white;
    }


    .centered-image{ 
      height: 150px;
      width: auto;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -65%)
      }


      input[type="text"] {
        padding: 10px;
        font-size: 16px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        }


        h4{
          font-weight: 800;
          font-family: arial;

        }
  
        a{
          color: black;
          font-weight: 800;
          font-family: arial;
          text-decoration: none;
           }

           .bouton-lu {
            background-color: #f0f0f0;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
            border-radius: 4px;
        }
        
        .bouton-lu.clicked {
            background-color: #004d00;
        }
 