.titre-chapitre{
  color: white;
}

p{
    line-height: 1,4%;
}

  
  .container p {
    text-align: left;
  }

div{
    color: white;
    }



      input[type="text"] {
        padding: 10px;
        font-size: 16px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        }


        h4{
          font-weight: 800;
          font-family: arial;

        }
  
        a{
          color: rgb(0, 0, 0);
          font-weight: 800;
          font-family: arial;
          text-decoration: none;
           }

           .bouton-lu {
            background-color: #f0f0f0;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
            border-radius: 4px;
        }
        
        .bouton-lu.clicked {
            background-color: #004d00;
        }
 