

    p{
        text-decoration: underline;
    }
   body{
    background-image: url();
    background-size: 150%;
   }
   .button {
    display: inline-block;
    margin-right: 1000px;
    }
    h1{
        color: #000;
        text-decoration: none;
    }