

    p{
        text-decoration: underline;
    }
   body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url('img/tissu-blanc_53876-89528.avif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:auto;
}
.content-container {
    background-color: #fff;
    padding: 30px;
    margin: 90px 90px 100px;
    border: 4px solid black;
}
   
   .button {
    display: inline-block;
    margin-right: 1000px;
    }
    h1{
        color: #000;
        text-decoration: none;
    }

    img{
        display: inline-block;
        margin-right: 100px;
        height: 400px;
    }

    .centered-image{

        
        height: 150px;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -65%)


    }
    input[type="text"] {
        padding: 10px;
        font-size: 16px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        }
  


    
    

